# Configuration used by this repository that can be overriden
# export LOCAL_CONFIG with list of files seperated by a colon (like the PATH variable) to overriden
# Example: $ export LOCAL_CONFIG=/some_dir/file1.config:./file2.config <exec>
#
# TIP: Only override the variables you need to, to benefit from the default ones here

# Don't print logs on the console
LOG_CONSOLE=0
LOG_LEVEL=4

# Remote XAPI access to XCP-ng
XEN_HOST="<FQDN or IP address>"
XEM_USER="<Username>"
XEN_PWD="<Password>"
XEN_PORT="80"

# Windows UNC/SMB example: file://my.super.hostname/data/ISO_Store
# SCP example: scp://myuser:mypassword@my.super.hostname:tcp_port/var/opt/xen/ISO_Store
XEN_ISO_LIB='<URI location where ISO files are stored>'
XEN_ISO_USER=Domain\username
XEN_ISO_PWD=password

# Parameters for VM creation
VM_NET="VM_LAN"
VM_SR="Halley Storage"
VM_TAGS="post_autostartup,pre_shutdown"

# Ignition Configuration
IG_CA=data/ignition-pki/jeremfg.com.crt
IG_CERT=data/ignition-pki/demers-ignition-server.pem
IG_KEY=data/ignition-pki/ignition-key.pem
SERVER_PORT=8765

# Tools & dependencies
BUTANE_URL=https://github.com/coreos/butane/releases/download/v0.18.0/butane-x86_64-unknown-linux-gnu
SOPS_URL=https://github.com/getsops/sops/releases/download/v3.7.3/sops_3.7.3_amd64.deb
AGE_URL=https://github.com/FiloSottile/age/releases/download/v1.1.1/age-v1.1.1-linux-amd64.tar.gz

# FCOS Configuration
SSH_KEY="ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIK0t0hjjL5lP9yNoE0c6bpTbck3Ca5Wwinc3DVHBtZxc"